/* div {
  text-align: center;
  margin-top: 200px;
} */

#str {
  text-align: center;
  margin-top: 100px;
}

#wrapper {
  text-align: center;
}



#result {
  width: 200px;
  height: 150px;
}

.none {
  display: none;
}
